/* #region Base */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
/* #endregion Base */

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-header {
  padding: 24px 0;
  margin-right: 76px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo > .logo-studio {
  color: #2e2f42;
}

.nav-link {
  padding: 24px 0;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
}

.active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-menu .menu a:hover,
.nav-menu .menu a:focus {
  color: #404bbf;
}

.nav-menu .menu a:active {
  text-decoration: underline;
}

.nav-address {
  font-style: normal;
  margin-left: auto;
}

.address-link {
  padding: 24px 0;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .address-link:hover,
.address .address-link:focus {
  color: #404bbf;
}
/* #endregion Header */

/* #region Top */
.section-top {
  padding: 188px 0;
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
}

.button-top {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 48px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-top .button-top:hover,
.section-top .button-top:focus {
  background-color: #404bbf;
}
/* #endregion Top */

/* #region Why */

.section-why {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits {
  display: flex;
  gap: 24px;
}

.section-why .item {
  width: calc((100% - 72px) / 4);
}
.section-why .element-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text {
  color: #434455;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.item .rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  /*background-image: url("../images/rectangle.png");*/
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}
/* #endregion Why */

/* #region Team */

.section-team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team {
  display: flex;
  gap: 24px;
}

.section-team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-team .element-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-card {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.worker {
  padding: 32px 0;
}

.section-team .text {
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.worker .social-icons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}

.social-icons .icon-ellipse {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.icon-ellipse .icon {
  fill: #f4f4fd;
}

/* #endregion Team */

/* #region Portfolio */

.section-portfolio {
  padding: 120px 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-preview {
  width: calc((100% - 2 * 24px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-hover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img:hover .portfolio-hover-text {
  transform: translateY(0%);
}

.portfolio-preview:hover {
  box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.section-portfolio .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-desc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-portfolio .element-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-portfolio .text {
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion Portfolio */

/* #region Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  /* gap: 120px; */
  /* margin-right: 120px; */
}

.logo-and-text {
  margin-right: 120px;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-media .social-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  cursor: pointer;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo > .logo-studio {
  color: #f4f4fd;
}

.footer .text {
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* #endregion Footer */
